li{
  list-style-type: none;
}

.ImageGallery{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.ImageGallery li{
  width: 300px;
}

.SearchForm{
  margin-left: 520px;
  margin-top: 30px;
}